html, body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ff6666;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.jumbotron {
  height: 800px;
  background: url(https://github.com/robbolopolous/mattdixontour/blob/8fd642033558d9613ba53127165044621c221c71/mattdixtourcover.jpg?raw=true) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav {
  margin: 0;
  padding: 20px 0;
}

.nav li {
  color: #fff;
  font-family: 'Futura', 'century-gothic', sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: inline;
  padding-right: 30px;
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.main h1 {
  color: #ffffff;
  font-family: 'Futura', 'century-gothic', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.btn-main {
  color: #ffffff;
  font-family: 'Futura', 'century-gothic', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
}

.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Futura', 'century-gothic', sans-serif;
  text-align: center;
}

.supporting h2 {
  color: #ffffff;
  font-family: 'Futura', 'century-gothic', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer p {
  font-family: 'Futura', 'century-gothic', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}
